body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    height: 100vh;
    overflow: hidden;
  }

nav {
    padding: 15px;
    background-color: rgb(46, 32, 172);
}

nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
}

.divGeneral {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 20px;

}

.sectionElemento {
    border: 2px solid rgb(46, 32, 172);
    border-radius: 15px;
    padding: 5px;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5), 0 6px 10px rgba(0, 0, 0, 0.3)
}

.sectionElemento a {
    text-decoration: none;
    color: white;
} 

.sectionElemento:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.6), 0 6px 8px rgba(0, 0, 0, 0.4);
    background-color:  rgba(0, 0, 0, 0.8);
    transform: translateY(-3px);
    transition: box-shadow 0.3s, transform 0.3s;

}